<div style="padding-left: 20px">
<h2>Hello! We are <%= @business.name %></h2>
<p><%= @business.trade %></p>
</div>

<div class="row>">
  <!-- <div class="col-md-2"></div> -->
  
  <div class="col-md-8" style="padding-top: 100px;">
  <%= month_calendar do |date| %>
    <%= date.strftime('%d') %><br>
    <% @appointments.each do |appointment| %>
        <% if date.strftime('%m') == appointment.start_time.strftime('%m') && date.strftime('%d') == appointment.start_time.strftime('%d') && @business.id == appointment.business_id && appointment.available == true %>
        <p><%= link_to appointment.start_time.strftime('%l:%M'), business_appointment_make_unavailable_path(@business, appointment), method: :put %></p><br>
        <% end %>
    <% end %>
  <% end %>
  </div>
</div>

<div class="col-md-4" style="padding-top: 100px;">
  <%= render partial: 'appointments/form', locals: {appointment: @appointment}  %>
</div>

</div>
<div class="row">
  <div class ="col-md-6">
    <%# @appointments.each do |appointment| %>
    <%#= appointment.start_time.to_formatted_s(:long) %> <br>
    <%#= appointment.id %> <br><br>
    <%# end %>
  </div>
</div>







  
  





